.App {
  font-family: sans-serif;
  text-align: center;
}
.pagenumbers {
  list-style: none;
  display: flex;
}
.pagenumbers li {
  padding: 10px;
  border: 1px solid black;
  margin: 5px;
  cursor: pointer;
}
.pagenumbers li.active {
  background-color: black;
  color: white;
}
